{% extends 'base.html' %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Editar conta</strong></div>
        <div class="panel-body">
            <form class="form-signin" action="{% url 'desenvolvedor_update' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Atualizar" class="btn btn-primary"/>
                <a href="{% url 'desenvolvedor_delete' %}" class="btn btn-danger">Apagar</a>
            </form>
        </div>
    </div>

{% endblock %}
